.container.login-container
  %h3
    Login
  = form_for(:session, url: login_path, class: 'login-form') do |f|
    
    .form-group
      =f.object
      =f.label :enter_email
      =f.email_field :email, class: 'form-control', placeholder: "Enter Email", type: "email"
    .form-group
      =f.label :enter_password
      =f.email_field :password, class: 'form-control', placeholder: "Enter Password", type: "password"
    
    %p
    =  "New user?"
    = link_to "Sign up now!", signup_path
    = f.submit "Log in", class: "btn btn-primary submit-button" 
    
